<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="lang" value="en"></parameter>
	<test thread-count="2" name="Test" parallel="classes">
		<classes>
			<class name="tests.TC001_LoginLogOut" />
			<!-- <class name="tests.TC004_EditLead" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
